@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* generate from https://uicolors.app/create */
  /* Flush Mahogany #cc313d */
  --flush-mahogany-50: #fef3f2;
  --flush-mahogany-100: #fce9e7;
  --flush-mahogany-200: #f9d3d2;
  --flush-mahogany-300: #f4aead;
  --flush-mahogany-400: #ed7f7f;
  --flush-mahogany-500: #e15256;
  --flush-mahogany-600: #cc313d;
  --flush-mahogany-700: #ac2432;
  --flush-mahogany-800: #90212f;
  --flush-mahogany-900: #7c1f2f;
  --flush-mahogany-950: #450c14;
  /*--flush-mahogany-rgb-50: rgb(254 243 242) */
  /*--flush-mahogany-rgb-100: rgb(252 233 231) */
  /*--flush-mahogany-rgb-200: rgb(249 211 210) */
  /*--flush-mahogany-rgb-300: rgb(244 174 173) */
  /*--flush-mahogany-rgb-400: rgba(237 127 127) */
  /*--flush-mahogany-rgb-500: rgb(225 82 86) */
  /*--flush-mahogany-rgb-600: rgb(204 49 61) */
  /*--flush-mahogany-rgb-700: rgb(172 36 50) */
  /*--flush-mahogany-rgb-800: rgb(144 33 47) */
  /*--flush-mahogany-rgb-900: rgb(124 31 47) */
  /*--flush-mahogany-rgb-950: rgb(69 12 20) */
  --flush-mahogany-rgb-50: 254, 243, 242;
  --flush-mahogany-rgb-100: 252, 233, 231;
  --flush-mahogany-rgb-200: 249, 211, 210;
  --flush-mahogany-rgb-300: 244, 174, 173;
  --flush-mahogany-rgb-400: 237, 127, 127;
  --flush-mahogany-rgb-500: 225, 82, 86;
  --flush-mahogany-rgb-600: 204, 49, 61;
  --flush-mahogany-rgb-700: 172, 36, 50;
  --flush-mahogany-rgb-800: 144, 33, 47;
  --flush-mahogany-rgb-900: 124, 31, 47;
  --flush-mahogany-rgb-950: 69, 12, 20;
  /* Custom Pink (because it's not tailwind default pink) #f7c5cc */
  --custom-pink-50: #fef2f3;
  --custom-pink-100: #fce7e8;
  --custom-pink-200: #f7c5cc;
  --custom-pink-300: #f4adb7;
  --custom-pink-400: #ec8091;
  --custom-pink-500: #e1526e;
  --custom-pink-600: #cc3257;
  --custom-pink-700: #ac2447;
  --custom-pink-800: #902142;
  --custom-pink-900: #7c1f3e;
  --custom-pink-950: #440d1d;
  /* primary color #FFD700 --gold-500
  * --gold-50: #ffffe7
  * --gold-100: #feffc1
  * --gold-200: #fffd86
  * --gold-300: #fff441
  * --gold-400: #ffe60d
  * --gold-500: #ffd700
  * --gold-600: #d19e00
  * --gold-700: #a67102
  * --gold-800: #89580a
  * --gold-900: #74480f
  * --gold-950: #442604 */
  --gold-50: rgba(255, 255, 231, 1);
  --gold-100: rgba(254, 255, 193, 1);
  --gold-200: rgba(255, 253, 134, 1);
  --gold-300: rgba(255, 244, 65, 1);
  --gold-400: rgba(255, 230, 13, 1);
  --gold-500: rgba(255, 215, 0, 1);
  --gold-600: rgba(209, 158, 0, 1);
  --gold-700: rgba(166, 113, 2, 1);
  --gold-800: rgba(137, 88, 10, 1);
  --gold-900: rgba(116, 72, 15, 1);
  --gold-950: rgba(68, 38, 4, 1);
  /* double spanish white #e9dbbd */
  /*--double-spanish-white-50: #fbf8f1
  * --double-spanish-white-100: #f5efdf
  * --double-spanish-white-200: #e9dbbd /* base */
  * --double-spanish-white-300: #dcc395
  * --double-spanish-white-400: #cca56b
  * --double-spanish-white-500: #c28e4d
  * --double-spanish-white-600: #b47a42
  * --double-spanish-white-700: #966238
  * --double-spanish-white-800: #794f33
  * --double-spanish-white-900: #62422c
  * --double-spanish-white-950: #342016 */
  --double-spanish-white-50: rgb(251, 248, 241);
  --double-spanish-white-100: rgb(245, 239, 223);
  --double-spanish-white-200: rgb(233, 219, 189);
  --double-spanish-white-300: rgb(220, 195, 149);
  --double-spanish-white-400: rgb(204, 165, 107);
  --double-spanish-white-500: rgb(194, 142, 77);
  --double-spanish-white-600: rgb(180, 122, 66);
  --double-spanish-white-700: rgb(150, 98, 56);
  --double-spanish-white-800: rgb(121, 79, 51);
  --double-spanish-white-900: rgb(98, 66, 44);
  --double-spanish-white-950: rgb(52, 32, 22);
  /* straw #cbb682
  * --straw-50: #faf8f2
  * --straw-100: #f3f0e1
  * --straw-200: #e6dec2
  * --straw-300: #d6c89b
  * --straw-400: #cbb682 /* base */
  * --straw-500: #b89857
  * --straw-600: #ab854b
  * --straw-700: #8e6b40
  * --straw-800: #735639
  * --straw-900: #5e4830
  * --straw-950: #322518 */
  --straw-50: rgb(250, 248, 242);
  --straw-100: rgb(243, 240, 225);
  --straw-200: rgb(230, 222, 194);
  --straw-300: rgb(214, 200, 155);
  --straw-400: rgb(203, 182, 130);
  --straw-500: rgb(184, 152, 87);
  --straw-600: rgb(171, 133, 75);
  --straw-700: rgb(142, 107, 64);
  --straw-800: rgb(115, 86, 57);
  --straw-900: rgb(94, 72, 48);
  --straw-950: rgb(50, 37, 24);
  /* barley corn #a08c5b
  * --barley-corn-50: #f6f6f0
  * --barley-corn-100: #e9e7d8
  * --barley-corn-200: #d5cfb3
  * --barley-corn-300: #bdb187
  * --barley-corn-400: #a99966
  * --barley-corn-500: #a08c5b /* base */
  * --barley-corn-600: #846e4a
  * --barley-corn-700: #6b563d
  * --barley-corn-800: #5b4938
  * --barley-corn-900: #4f4034
  * --barley-corn-950: #2d221b */
  --barley-corn-50: rgb(246, 246, 240);
  --barley-corn-100: rgb(233, 231, 216);
  --barley-corn-200: rgb(213, 207, 179);
  --barley-corn-300: rgb(189, 177, 135);
  --barley-corn-400: rgb(169, 153, 102);
  --barley-corn-500: rgb(160, 140, 91);
  --barley-corn-600: rgb(132, 110, 74);
  --barley-corn-700: rgb(107, 86, 61);
  --barley-corn-800: rgb(91, 73, 56);
  --barley-corn-900: rgb(79, 64, 52);
  --barley-corn-950: rgb(45, 34, 27);
  /* yellow metal #785f37
  * --yellow-metal-50: #f7f7ef
  * --yellow-metal-100: #ecebd5
  * --yellow-metal-200: #dcd7ac
  * --yellow-metal-300: #c7bd7d
  * --yellow-metal-400: #b6a559
  * --yellow-metal-500: #a7934b
  * --yellow-metal-600: #8f773f
  * --yellow-metal-700: #785f37 /* base */
  * --yellow-metal-800: #624c31
  * --yellow-metal-900: #55412e
  * --yellow-metal-950: #302318 */
  --yellow-metal-50: rgb(247, 247, 239);
  --yellow-metal-100: rgb(236, 235, 213);
  --yellow-metal-200: rgb(220, 215, 172);
  --yellow-metal-300: rgb(199, 189, 125);
  --yellow-metal-400: rgb(182, 165, 89);
  --yellow-metal-500: rgb(167, 147, 75);
  --yellow-metal-600: rgb(143, 119, 63);
  --yellow-metal-700: rgb(120, 95, 55);
  --yellow-metal-800: rgb(98, 76, 49);
  --yellow-metal-900: rgb(85, 65, 46);
  --yellow-metal-950: rgb(48, 35, 24);
  /* asphalt #181510
  * --asphalt-50: #f6f6f0
  * --asphalt-100: #e7e8d9
  * --asphalt-200: #d0d2b6
  * --asphalt-300: #b7b88c
  * --asphalt-400: #a3a36c
  * --asphalt-500: #94915e
  * --asphalt-600: #7f784f
  * --asphalt-700: #665e42
  * --asphalt-800: #58503b
  * --asphalt-900: #4d4536
  * --asphalt-950: #181510 /* base */
  --asphalt-50: rgb(246, 246, 240);
  --asphalt-100: rgb(231, 232, 217);
  --asphalt-200: rgb(208, 210, 182);
  --asphalt-300: rgb(183, 184, 140);
  --asphalt-400: rgb(163, 163, 108);
  --asphalt-500: rgb(148, 145, 94);
  --asphalt-600: rgb(127, 120, 79);
  --asphalt-700: rgb(102, 94, 66);
  --asphalt-800: rgb(88, 80, 59);
  --asphalt-900: rgb(77, 69, 54);
  --asphalt-950: rgb(24, 21, 16);
}

/* font-family: "Raleway", sans-serif
 * font-family: "Montserrat", sans-serif
 * font-family: "Abril Fatface", serif
 * font-family: "EB Garamond", serif */
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
}

nav {
  font-family: "Raleway", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.spacer {
  padding: 1rem 0;
}

.card {
  border-radius: 0;
}

/* override daisyui */
.menu-list a {
  border-radius: 0 !important;
}

.menu-list a:hover {
  background: none !important;
}

/* font-size */
/* outline effect */
.fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen img {
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
}

/* base transparency */
.text-transparent, :is(.dark .dark\:text-transparent) {
  color: transparent;
}

/* outline sizes */
.text-outline-size-1 {
  -webkit-text-stroke-width: 1px;
}

/* colors */
.text-outline-white, :is(.dark .dark\:text-outline-white) {
  -webkit-text-stroke-color: #fff;
}

.text-outline-black, :is(.dark .dark\:text-outline-black) {
  -webkit-text-stroke-color: #000;
}

/* Flush Mahogany */
.text-outline-flushMahogany-50, :is(.dark .dark\:text-outline-flushMahogany-50) {
  -webkit-text-stroke-color: var(--flush-mahogany-50);
}

.text-outline-flushMahogany-100, :is(.dark .dark\:text-outline-flushMahogany-100) {
  -webkit-text-stroke-color: var(--flush-mahogany-100);
}

.text-outline-flushMahogany-200, :is(.dark .dark\:text-outline-flushMahogany-200) {
  -webkit-text-stroke-color: var(--flush-mahogany-200);
}

.text-outline-flushMahogany-300, :is(.dark .dark\:text-outline-flushMahogany-300) {
  -webkit-text-stroke-color: var(--flush-mahogany-300);
}

.text-outline-flushMahogany-400, :is(.dark .dark\:text-outline-flushMahogany-400) {
  -webkit-text-stroke-color: var(--flush-mahogany-400);
}

.text-outline-flushMahogany-500, :is(.dark .dark\:text-outline-flushMahogany-500) {
  -webkit-text-stroke-color: var(--flush-mahogany-500);
}

.text-outline-flushMahogany-600, :is(.dark .dark\:text-outline-flushMahogany-600) {
  -webkit-text-stroke-color: var(--flush-mahogany-600);
}

.text-outline-flushMahogany-700, :is(.dark .dark\:text-outline-flushMahogany-700) {
  -webkit-text-stroke-color: var(--flush-mahogany-700);
}

.text-outline-flushMahogany-800, :is(.dark .dark\:text-outline-flushMahogany-800) {
  -webkit-text-stroke-color: var(--flush-mahogany-800);
}

.text-outline-flushMahogany-900, :is(.dark .dark\:text-outline-flushMahogany-900) {
  -webkit-text-stroke-color: var(--flush-mahogany-900);
}

.text-outline-flushMahogany-950, :is(.dark .dark\:text-outline-flushMahogany-950) {
  -webkit-text-stroke-color: var(--flush-mahogany-950);
}

/* Custom Pink (because it's not tailwind default) */
.text-outline-customPink-50, :is(.dark .dark\:text-outline-customPink-50) {
  -webkit-text-stroke-color: var(--custom-pink-50);
}

.text-outline-customPink-100, :is(.dark .dark\:text-outline-customPink-100) {
  -webkit-text-stroke-color: var(--custom-pink-100);
}

.text-outline-customPink-200, :is(.dark .dark\:text-outline-customPink-200) {
  -webkit-text-stroke-color: var(--custom-pink-200);
}

.text-outline-customPink-300, :is(.dark .dark\:text-outline-customPink-300) {
  -webkit-text-stroke-color: var(--custom-pink-300);
}

.text-outline-customPink-400, :is(.dark .dark\:text-outline-customPink-400) {
  -webkit-text-stroke-color: var(--custom-pink-400);
}

.text-outline-customPink-500, :is(.dark .dark\:text-outline-customPink-500) {
  -webkit-text-stroke-color: var(--custom-pink-500);
}

.text-outline-customPink-600, :is(.dark .dark\:text-outline-customPink-600) {
  -webkit-text-stroke-color: var(--custom-pink-600);
}

.text-outline-customPink-700, :is(.dark .dark\:text-outline-customPink-700) {
  -webkit-text-stroke-color: var(--custom-pink-700);
}

.text-outline-customPink-800, :is(.dark .dark\:text-outline-customPink-800) {
  -webkit-text-stroke-color: var(--custom-pink-800);
}

.text-outline-customPink-900, :is(.dark .dark\:text-outline-customPink-900) {
  -webkit-text-stroke-color: var(--custom-pink-900);
}

.text-outline-customPink-950, :is(.dark .dark\:text-outline-customPink-950) {
  -webkit-text-stroke-color: var(--custom-pink-950);
}

/* Gold (because it's not tailwind default) */
.text-outline-gold-50, :is(.dark .dark\:text-outline-gold-50) {
  -webkit-text-stroke-color: var(--gold-50);
}

.text-outline-gold-100, :is(.dark .dark\:text-outline-gold-100) {
  -webkit-text-stroke-color: var(--gold-100);
}

.text-outline-gold-200, :is(.dark .dark\:text-outline-gold-200) {
  -webkit-text-stroke-color: var(--gold-200);
}

.text-outline-gold-300, :is(.dark .dark\:text-outline-gold-300) {
  -webkit-text-stroke-color: var(--gold-300);
}

.text-outline-gold-400, :is(.dark .dark\:text-outline-gold-400) {
  -webkit-text-stroke-color: var(--gold-400);
}

.text-outline-gold-500, :is(.dark .dark\:text-outline-gold-500) {
  -webkit-text-stroke-color: var(--gold-500);
}

.text-outline-gold-600, :is(.dark .dark\:text-outline-gold-600) {
  -webkit-text-stroke-color: var(--gold-600);
}

.text-outline-gold-700, :is(.dark .dark\:text-outline-gold-700) {
  -webkit-text-stroke-color: var(--gold-700);
}

.text-outline-gold-800, :is(.dark .dark\:text-outline-gold-800) {
  -webkit-text-stroke-color: var(--gold-800);
}

.text-outline-gold-900, :is(.dark .dark\:text-outline-gold-900) {
  -webkit-text-stroke-color: var(--gold-900);
}

.text-outline-gold-950, :is(.dark .dark\:text-outline-gold-950) {
  -webkit-text-stroke-color: var(--gold-950);
}

/* Double Spanish White */
.text-outline-straw-50, :is(.dark .dark\:text-outline-straw-50) {
  -webkit-text-stroke-color: var(--straw-50);
}

.text-outline-straw-100, :is(.dark .dark\:text-outline-straw-100) {
  -webkit-text-stroke-color: var(--straw-100);
}

.text-outline-straw-200, :is(.dark .dark\:text-outline-straw-200) {
  -webkit-text-stroke-color: var(--straw-200);
}

.text-outline-straw-300, :is(.dark .dark\:text-outline-straw-300) {
  -webkit-text-stroke-color: var(--straw-300);
}

.text-outline-straw-400, :is(.dark .dark\:text-outline-straw-400) {
  -webkit-text-stroke-color: var(--straw-400);
}

.text-outline-straw-500, :is(.dark .dark\:text-outline-straw-500) {
  -webkit-text-stroke-color: var(--straw-500);
}

.text-outline-straw-600, :is(.dark .dark\:text-outline-straw-600) {
  -webkit-text-stroke-color: var(--straw-600);
}

.text-outline-straw-700, :is(.dark .dark\:text-outline-straw-700) {
  -webkit-text-stroke-color: var(--straw-700);
}

.text-outline-straw-800, :is(.dark .dark\:text-outline-straw-800) {
  -webkit-text-stroke-color: var(--straw-800);
}

.text-outline-straw-900, :is(.dark .dark\:text-outline-straw-900) {
  -webkit-text-stroke-color: var(--straw-900);
}

.text-outline-straw-950, :is(.dark .dark\:text-outline-straw-950) {
  -webkit-text-stroke-color: var(--straw-950);
}

/* Double Spanish White */
.text-outline-double-spanish-white-50, :is(.dark .dark\:text-outline-double-spanish-white-50) {
  -webkit-text-stroke-color: var(--double-spanish-white-50);
}

.text-outline-double-spanish-white-100, :is(.dark .dark\:text-outline-double-spanish-white-100) {
  -webkit-text-stroke-color: var(--double-spanish-white-100);
}

.text-outline-double-spanish-white-200, :is(.dark .dark\:text-outline-double-spanish-white-200) {
  -webkit-text-stroke-color: var(--double-spanish-white-200);
}

.text-outline-double-spanish-white-300, :is(.dark .dark\:text-outline-double-spanish-white-300) {
  -webkit-text-stroke-color: var(--double-spanish-white-300);
}

.text-outline-double-spanish-white-400, :is(.dark .dark\:text-outline-double-spanish-white-400) {
  -webkit-text-stroke-color: var(--double-spanish-white-400);
}

.text-outline-double-spanish-white-500, :is(.dark .dark\:text-outline-double-spanish-white-500) {
  -webkit-text-stroke-color: var(--double-spanish-white-500);
}

.text-outline-double-spanish-white-600, :is(.dark .dark\:text-outline-double-spanish-white-600) {
  -webkit-text-stroke-color: var(--double-spanish-white-600);
}

.text-outline-double-spanish-white-700, :is(.dark .dark\:text-outline-double-spanish-white-700) {
  -webkit-text-stroke-color: var(--double-spanish-white-700);
}

.text-outline-double-spanish-white-800, :is(.dark .dark\:text-outline-double-spanish-white-800) {
  -webkit-text-stroke-color: var(--double-spanish-white-800);
}

.text-outline-double-spanish-white-900, :is(.dark .dark\:text-outline-double-spanish-white-900) {
  -webkit-text-stroke-color: var(--double-spanish-white-900);
}

.text-outline-double-spanish-white-950, :is(.dark .dark\:text-outline-double-spanish-white-950) {
  -webkit-text-stroke-color: var(--double-spanish-white-950);
}

/* Straw */
.text-outline-straw-50, :is(.dark .dark\:text-outline-straw-50) {
  -webkit-text-stroke-color: var(--straw-50);
}

.text-outline-straw-100, :is(.dark .dark\:text-outline-straw-100) {
  -webkit-text-stroke-color: var(--straw-100);
}

.text-outline-straw-200, :is(.dark .dark\:text-outline-straw-200) {
  -webkit-text-stroke-color: var(--straw-200);
}

.text-outline-straw-300, :is(.dark .dark\:text-outline-straw-300) {
  -webkit-text-stroke-color: var(--straw-300);
}

.text-outline-straw-400, :is(.dark .dark\:text-outline-straw-400) {
  -webkit-text-stroke-color: var(--straw-400);
}

.text-outline-straw-500, :is(.dark .dark\:text-outline-straw-500) {
  -webkit-text-stroke-color: var(--straw-500);
}

.text-outline-straw-600, :is(.dark .dark\:text-outline-straw-600) {
  -webkit-text-stroke-color: var(--straw-600);
}

.text-outline-straw-700, :is(.dark .dark\:text-outline-straw-700) {
  -webkit-text-stroke-color: var(--straw-700);
}

.text-outline-straw-800, :is(.dark .dark\:text-outline-straw-800) {
  -webkit-text-stroke-color: var(--straw-800);
}

.text-outline-straw-900, :is(.dark .dark\:text-outline-straw-900) {
  -webkit-text-stroke-color: var(--straw-900);
}

.text-outline-straw-950, :is(.dark .dark\:text-outline-straw-950) {
  -webkit-text-stroke-color: var(--straw-950);
}

/* barley corn */
.text-outline-barley-corn-50, :is(.dark .dark\:text-outline-barley-corn-50) {
  -webkit-text-stroke-color: var(--barley-corn-50);
}

.text-outline-barley-corn-100, :is(.dark .dark\:text-outline-barley-corn-100) {
  -webkit-text-stroke-color: var(--barley-corn-100);
}

.text-outline-barley-corn-200, :is(.dark .dark\:text-outline-barley-corn-200) {
  -webkit-text-stroke-color: var(--barley-corn-200);
}

.text-outline-barley-corn-300, :is(.dark .dark\:text-outline-barley-corn-300) {
  -webkit-text-stroke-color: var(--barley-corn-300);
}

.text-outline-barley-corn-400, :is(.dark .dark\:text-outline-barley-corn-400) {
  -webkit-text-stroke-color: var(--barley-corn-400);
}

.text-outline-barley-corn-500, :is(.dark .dark\:text-outline-barley-corn-500) {
  -webkit-text-stroke-color: var(--barley-corn-500);
}

.text-outline-barley-corn-600, :is(.dark .dark\:text-outline-barley-corn-600) {
  -webkit-text-stroke-color: var(--barley-corn-600);
}

.text-outline-barley-corn-700, :is(.dark .dark\:text-outline-barley-corn-700) {
  -webkit-text-stroke-color: var(--barley-corn-700);
}

.text-outline-barley-corn-800, :is(.dark .dark\:text-outline-barley-corn-800) {
  -webkit-text-stroke-color: var(--barley-corn-800);
}

.text-outline-barley-corn-900, :is(.dark .dark\:text-outline-barley-corn-900) {
  -webkit-text-stroke-color: var(--barley-corn-900);
}

.text-outline-barley-corn-950, :is(.dark .dark\:text-outline-barley-corn-950) {
  -webkit-text-stroke-color: var(--barley-corn-950);
}

/* yellow metal */
.text-outline-yellow-metal-50, :is(.dark .dark\:text-outline-yellow-metal-50) {
  -webkit-text-stroke-color: var(--yellow-metal-50);
}

.text-outline-yellow-metal-100, :is(.dark .dark\:text-outline-yellow-metal-100) {
  -webkit-text-stroke-color: var(--yellow-metal-100);
}

.text-outline-yellow-metal-200, :is(.dark .dark\:text-outline-yellow-metal-200) {
  -webkit-text-stroke-color: var(--yellow-metal-200);
}

.text-outline-yellow-metal-300, :is(.dark .dark\:text-outline-yellow-metal-300) {
  -webkit-text-stroke-color: var(--yellow-metal-300);
}

.text-outline-yellow-metal-400, :is(.dark .dark\:text-outline-yellow-metal-400) {
  -webkit-text-stroke-color: var(--yellow-metal-400);
}

.text-outline-yellow-metal-500, :is(.dark .dark\:text-outline-yellow-metal-500) {
  -webkit-text-stroke-color: var(--yellow-metal-500);
}

.text-outline-yellow-metal-600, :is(.dark .dark\:text-outline-yellow-metal-600) {
  -webkit-text-stroke-color: var(--yellow-metal-600);
}

.text-outline-yellow-metal-700, :is(.dark .dark\:text-outline-yellow-metal-700) {
  -webkit-text-stroke-color: var(--yellow-metal-700);
}

.text-outline-yellow-metal-800, :is(.dark .dark\:text-outline-yellow-metal-800) {
  -webkit-text-stroke-color: var(--yellow-metal-800);
}

.text-outline-yellow-metal-900, :is(.dark .dark\:text-outline-yellow-metal-900) {
  -webkit-text-stroke-color: var(--yellow-metal-900);
}

.text-outline-yellow-metal-950, :is(.dark .dark\:text-outline-yellow-metal-950) {
  -webkit-text-stroke-color: var(--yellow-metal-950);
}

/* asphalt */
.text-outline-asphalt-50, :is(.dark .dark\:text-outline-asphalt-50) {
  -webkit-text-stroke-color: var(--asphalt-50);
}

.text-outline-asphalt-100, :is(.dark .dark\:text-outline-asphalt-100) {
  -webkit-text-stroke-color: var(--asphalt-100);
}

.text-outline-asphalt-200, :is(.dark .dark\:text-outline-asphalt-200) {
  -webkit-text-stroke-color: var(--asphalt-200);
}

.text-outline-asphalt-300, :is(.dark .dark\:text-outline-asphalt-300) {
  -webkit-text-stroke-color: var(--asphalt-300);
}

.text-outline-asphalt-400, :is(.dark .dark\:text-outline-asphalt-400) {
  -webkit-text-stroke-color: var(--asphalt-400);
}

.text-outline-asphalt-500, :is(.dark .dark\:text-outline-asphalt-500) {
  -webkit-text-stroke-color: var(--asphalt-500);
}

.text-outline-asphalt-600, :is(.dark .dark\:text-outline-asphalt-600) {
  -webkit-text-stroke-color: var(--asphalt-600);
}

.text-outline-asphalt-700, :is(.dark .dark\:text-outline-asphalt-700) {
  -webkit-text-stroke-color: var(--asphalt-700);
}

.text-outline-asphalt-800, :is(.dark .dark\:text-outline-asphalt-800) {
  -webkit-text-stroke-color: var(--asphalt-800);
}

.text-outline-asphalt-900, :is(.dark .dark\:text-outline-asphalt-900) {
  -webkit-text-stroke-color: var(--asphalt-900);
}

.text-outline-asphalt-950, :is(.dark .dark\:text-outline-asphalt-950) {
  -webkit-text-stroke-color: var(--asphalt-950);
}

/* breakpoints */
/* xs - mobile phones
 * devices with less than 320px width is not supported */
@media only screen and (min-width: 320px) and (max-width: 639px) {
  .xs\:text-transparent {
    color: transparent;
  }
  .xs\:text-outline-size-1 {
    -webkit-text-stroke-width: 1px;
  }
  .xs\:text-outline-size-2 {
    -webkit-text-stroke-width: 2px;
  }
  .xs\:text-outline-white {
    -webkit-text-stroke-color: #fff;
  }
  .xs\:text-outline-black {
    -webkit-text-stroke-color: #000;
  }
}
/* sm - small screens */
/* md - medium screens like tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .md\:text-outline-size-1 {
    -webkit-text-stroke-width: 1px;
  }
  .md\:text-outline-white {
    -webkit-text-stroke-color: #fff;
  }
  .md\:text-outline-black {
    -webkit-text-stroke-color: #000;
  }
}
/* lg - large screens */
/* xl */
/* 2xl */
/* for some reasons, tailwindcss does support opacity on these colors -- and the reason being is that I used var
 * so we need to customize shorthand opacity
 * you can also use bg-{color) bg-{opacity} */
:is(.dark .dark\:bg-flushMahogany-950\/95), .bg-flushMahogany-950\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-900\/95), .bg-flushMahogany-900\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-800\/95), .bg-flushMahogany-800\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-700\/95), .bg-flushMahogany-700\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-600\/95), .bg-flushMahogany-600\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-500\/95), .bg-flushMahogany-500\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-400\/95), .bg-flushMahogany-400\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-300\/95), .bg-flushMahogany-300\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-200\/95), .bg-flushMahogany-200\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-100\/95), .bg-flushMahogany-100\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-50\/95), .bg-flushMahogany-50\/95 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.95);
}

:is(.dark .dark\:bg-flushMahogany-950\/90), .bg-flushMahogany-950\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-900\/90), .bg-flushMahogany-900\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-800\/90), .bg-flushMahogany-800\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-700\/90), .bg-flushMahogany-700\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-600\/90), .bg-flushMahogany-600\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-500\/90), .bg-flushMahogany-500\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-400\/90), .bg-flushMahogany-400\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-300\/90), .bg-flushMahogany-300\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-200\/90), .bg-flushMahogany-200\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-100\/90), .bg-flushMahogany-100\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-50\/90), .bg-flushMahogany-50\/90 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.9);
}

:is(.dark .dark\:bg-flushMahogany-950\/85), .bg-flushMahogany-950\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-900\/85), .bg-flushMahogany-900\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-800\/85), .bg-flushMahogany-800\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-700\/85), .bg-flushMahogany-700\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-600\/85), .bg-flushMahogany-600\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-500\/85), .bg-flushMahogany-500\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-400\/85), .bg-flushMahogany-400\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-300\/85), .bg-flushMahogany-300\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-200\/85), .bg-flushMahogany-200\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-100\/85), .bg-flushMahogany-100\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-50\/85), .bg-flushMahogany-50\/85 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.85);
}

:is(.dark .dark\:bg-flushMahogany-950\/80), .bg-flushMahogany-950\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-900\/80), .bg-flushMahogany-900\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-800\/80), .bg-flushMahogany-800\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-700\/80), .bg-flushMahogany-700\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-600\/80), .bg-flushMahogany-600\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-500\/80), .bg-flushMahogany-500\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-400\/80), .bg-flushMahogany-400\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-300\/80), .bg-flushMahogany-300\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-200\/80), .bg-flushMahogany-200\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-100\/80), .bg-flushMahogany-100\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-50\/80), .bg-flushMahogany-50\/80 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.8);
}

:is(.dark .dark\:bg-flushMahogany-950\/75), .bg-flushMahogany-950\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-900\/75), .bg-flushMahogany-900\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-800\/75), .bg-flushMahogany-800\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-700\/75), .bg-flushMahogany-700\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-600\/75), .bg-flushMahogany-600\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-500\/75), .bg-flushMahogany-500\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-400\/75), .bg-flushMahogany-400\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-300\/75), .bg-flushMahogany-300\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-200\/75), .bg-flushMahogany-200\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-100\/75), .bg-flushMahogany-100\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-50\/75), .bg-flushMahogany-50\/75 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.75);
}

:is(.dark .dark\:bg-flushMahogany-950\/70), .bg-flushMahogany-950\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-900\/70), .bg-flushMahogany-900\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-800\/70), .bg-flushMahogany-800\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-700\/70), .bg-flushMahogany-700\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-600\/70), .bg-flushMahogany-600\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-500\/70), .bg-flushMahogany-500\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-400\/70), .bg-flushMahogany-400\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-300\/70), .bg-flushMahogany-300\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-200\/70), .bg-flushMahogany-200\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-100\/70), .bg-flushMahogany-100\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-50\/70), .bg-flushMahogany-50\/70 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.7);
}

:is(.dark .dark\:bg-flushMahogany-950\/65), .bg-flushMahogany-950\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-900\/65), .bg-flushMahogany-900\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-800\/65), .bg-flushMahogany-800\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-700\/65), .bg-flushMahogany-700\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-600\/65), .bg-flushMahogany-600\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-500\/65), .bg-flushMahogany-500\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-400\/65), .bg-flushMahogany-400\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-300\/65), .bg-flushMahogany-300\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-200\/65), .bg-flushMahogany-200\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-100\/65), .bg-flushMahogany-100\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-50\/65), .bg-flushMahogany-50\/65 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.65);
}

:is(.dark .dark\:bg-flushMahogany-950\/60), .bg-flushMahogany-950\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-900\/60), .bg-flushMahogany-900\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-800\/60), .bg-flushMahogany-800\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-700\/60), .bg-flushMahogany-700\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-600\/60), .bg-flushMahogany-600\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-500\/60), .bg-flushMahogany-500\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-400\/60), .bg-flushMahogany-400\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-300\/60), .bg-flushMahogany-300\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-200\/60), .bg-flushMahogany-200\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-100\/60), .bg-flushMahogany-100\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-50\/60), .bg-flushMahogany-50\/60 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.6);
}

:is(.dark .dark\:bg-flushMahogany-950\/55), .bg-flushMahogany-950\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-900\/55), .bg-flushMahogany-900\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-800\/55), .bg-flushMahogany-800\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-700\/55), .bg-flushMahogany-700\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-600\/55), .bg-flushMahogany-600\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-500\/55), .bg-flushMahogany-500\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-400\/55), .bg-flushMahogany-400\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-300\/55), .bg-flushMahogany-300\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-200\/55), .bg-flushMahogany-200\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-100\/55), .bg-flushMahogany-100\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-50\/55), .bg-flushMahogany-50\/55 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.55);
}

:is(.dark .dark\:bg-flushMahogany-950\/50), .bg-flushMahogany-950\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-900\/50), .bg-flushMahogany-900\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-800\/50), .bg-flushMahogany-800\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-700\/50), .bg-flushMahogany-700\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-600\/50), .bg-flushMahogany-600\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-500\/50), .bg-flushMahogany-500\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-400\/50), .bg-flushMahogany-400\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-300\/50), .bg-flushMahogany-300\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-200\/50), .bg-flushMahogany-200\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-100\/50), .bg-flushMahogany-100\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-50\/50), .bg-flushMahogany-50\/50 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.5);
}

:is(.dark .dark\:bg-flushMahogany-950\/45), .bg-flushMahogany-950\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-900\/45), .bg-flushMahogany-900\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-800\/45), .bg-flushMahogany-800\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-700\/45), .bg-flushMahogany-700\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-600\/45), .bg-flushMahogany-600\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-500\/45), .bg-flushMahogany-500\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-400\/45), .bg-flushMahogany-400\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-300\/45), .bg-flushMahogany-300\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-200\/45), .bg-flushMahogany-200\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-100\/45), .bg-flushMahogany-100\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-50\/45), .bg-flushMahogany-50\/45 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.45);
}

:is(.dark .dark\:bg-flushMahogany-950\/40), .bg-flushMahogany-950\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-900\/40), .bg-flushMahogany-900\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-800\/40), .bg-flushMahogany-800\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-700\/40), .bg-flushMahogany-700\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-600\/40), .bg-flushMahogany-600\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-500\/40), .bg-flushMahogany-500\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-400\/40), .bg-flushMahogany-400\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-300\/40), .bg-flushMahogany-300\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-200\/40), .bg-flushMahogany-200\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-100\/40), .bg-flushMahogany-100\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-50\/40), .bg-flushMahogany-50\/40 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.4);
}

:is(.dark .dark\:bg-flushMahogany-950\/35), .bg-flushMahogany-950\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-900\/35), .bg-flushMahogany-900\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-800\/35), .bg-flushMahogany-800\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-700\/35), .bg-flushMahogany-700\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-600\/35), .bg-flushMahogany-600\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-500\/35), .bg-flushMahogany-500\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-400\/35), .bg-flushMahogany-400\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-300\/35), .bg-flushMahogany-300\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-200\/35), .bg-flushMahogany-200\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-100\/35), .bg-flushMahogany-100\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-50\/35), .bg-flushMahogany-50\/35 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.35);
}

:is(.dark .dark\:bg-flushMahogany-950\/30), .bg-flushMahogany-950\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-900\/30), .bg-flushMahogany-900\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-800\/30), .bg-flushMahogany-800\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-700\/30), .bg-flushMahogany-700\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-600\/30), .bg-flushMahogany-600\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-500\/30), .bg-flushMahogany-500\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-400\/30), .bg-flushMahogany-400\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-300\/30), .bg-flushMahogany-300\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-200\/30), .bg-flushMahogany-200\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-100\/30), .bg-flushMahogany-100\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-50\/30), .bg-flushMahogany-50\/30 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.3);
}

:is(.dark .dark\:bg-flushMahogany-950\/25), .bg-flushMahogany-950\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-900\/25), .bg-flushMahogany-900\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-800\/25), .bg-flushMahogany-800\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-700\/25), .bg-flushMahogany-700\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-600\/25), .bg-flushMahogany-600\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-500\/25), .bg-flushMahogany-500\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-400\/25), .bg-flushMahogany-400\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-300\/25), .bg-flushMahogany-300\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-200\/25), .bg-flushMahogany-200\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-100\/25), .bg-flushMahogany-100\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-50\/25), .bg-flushMahogany-50\/25 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.25);
}

:is(.dark .dark\:bg-flushMahogany-950\/20), .bg-flushMahogany-950\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-900\/20), .bg-flushMahogany-900\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-800\/20), .bg-flushMahogany-800\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-700\/20), .bg-flushMahogany-700\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-600\/20), .bg-flushMahogany-600\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-500\/20), .bg-flushMahogany-500\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-400\/20), .bg-flushMahogany-400\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-300\/20), .bg-flushMahogany-300\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-200\/20), .bg-flushMahogany-200\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-100\/20), .bg-flushMahogany-100\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-50\/20), .bg-flushMahogany-50\/20 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.2);
}

:is(.dark .dark\:bg-flushMahogany-950\/15), .bg-flushMahogany-950\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-900\/15), .bg-flushMahogany-900\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-800\/15), .bg-flushMahogany-800\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-700\/15), .bg-flushMahogany-700\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-600\/15), .bg-flushMahogany-600\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-500\/15), .bg-flushMahogany-500\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-400\/15), .bg-flushMahogany-400\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-300\/15), .bg-flushMahogany-300\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-200\/15), .bg-flushMahogany-200\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-100\/15), .bg-flushMahogany-100\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-50\/15), .bg-flushMahogany-50\/15 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.15);
}

:is(.dark .dark\:bg-flushMahogany-950\/10), .bg-flushMahogany-950\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-900\/10), .bg-flushMahogany-900\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-800\/10), .bg-flushMahogany-800\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-700\/10), .bg-flushMahogany-700\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-600\/10), .bg-flushMahogany-600\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-500\/10), .bg-flushMahogany-500\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-400\/10), .bg-flushMahogany-400\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-300\/10), .bg-flushMahogany-300\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-200\/10), .bg-flushMahogany-200\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-100\/10), .bg-flushMahogany-100\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-50\/10), .bg-flushMahogany-50\/10 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.1);
}

:is(.dark .dark\:bg-flushMahogany-950\/5), .bg-flushMahogany-950\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-950), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-900\/5), .bg-flushMahogany-900\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-900), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-800\/5), .bg-flushMahogany-800\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-800), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-700\/5), .bg-flushMahogany-700\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-700), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-600\/5), .bg-flushMahogany-600\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-600), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-500\/5), .bg-flushMahogany-500\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-500), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-400\/5), .bg-flushMahogany-400\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-400), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-300\/5), .bg-flushMahogany-300\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-300), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-200\/5), .bg-flushMahogany-200\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-200), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-100\/5), .bg-flushMahogany-100\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-100), 0.05);
}

:is(.dark .dark\:bg-flushMahogany-50\/5), .bg-flushMahogany-50\/5 {
  background-color: rgba(var(--flush-mahogany-rgb-50), 0.05);
}

.fancy-button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.fancy-button:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  /* box-shadow: 0 0 35px var(--clr) */
  animation: box 3s infinite;
}

.fancy-button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #fff;
}

.fancy-button span {
  position: relative;
  z-index: 1;
}

.fancy-button i {
  position: absolute;
  inset: 0;
  display: block;
}

.fancy-button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.fancy-button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.fancy-button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.fancy-button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
/* circle effect */
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.button.learn-more {
  width: 12rem;
  height: auto;
}
.button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  --tw-bg-opacity: 1;
  background-color: var(--bgb);
  border-radius: 1.625rem;
}
.button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.button:hover .circle {
  width: 100%;
}
.button:hover .circle .icon {
  background: #fff;
  transform: translate(1rem, 0);
}
.button:hover .button-text {
  color: #fff;
}

/* breakpoints */
/* xs - mobile phones
 * devices with less than 320px width is not supported */
/* sm - small screens */
/* md - medium screens like tablets */
/* lg - large screens */
/* xl */
/* 2xl */

/*# sourceMappingURL=additional-styles.css.map */
