/*
  base transparency
.text-transparent
  color: transparent
/*
  outline sizes
.text-outline-size-1
  -webkit-text-stroke-width: 1px
/*
  colors
.text-outline-white
  -webkit-text-stroke-color: #fff
.text-outline-black
  -webkit-text-stroke-color: #000

/*
  Flush Mahogany
.text-outline-flushMahogany-50, :is(.dark .dark\:text-outline-flushMahogany-50)
  -webkit-text-stroke-color: var(--flush-mahogany-50)
.text-outline-flushMahogany-100, :is(.dark .dark\:text-outline-flushMahogany-100)
  -webkit-text-stroke-color: var(--flush-mahogany-100)
.text-outline-flushMahogany-200, :is(.dark .dark\:text-outline-flushMahogany-200)
  -webkit-text-stroke-color: var(--flush-mahogany-200)
.text-outline-flushMahogany-300, :is(.dark .dark\:text-outline-flushMahogany-300)
  -webkit-text-stroke-color: var(--flush-mahogany-300)
.text-outline-flushMahogany-400, :is(.dark .dark\:text-outline-flushMahogany-400)
  -webkit-text-stroke-color: var(--flush-mahogany-400)
.text-outline-flushMahogany-500, :is(.dark .dark\:text-outline-flushMahogany-500)
  -webkit-text-stroke-color: var(--flush-mahogany-500)
.text-outline-flushMahogany-600, :is(.dark .dark\:text-outline-flushMahogany-600)
  -webkit-text-stroke-color: var(--flush-mahogany-600)
.text-outline-flushMahogany-700, :is(.dark .dark\:text-outline-flushMahogany-700)
  -webkit-text-stroke-color: var(--flush-mahogany-700)
.text-outline-flushMahogany-800, :is(.dark .dark\:text-outline-flushMahogany-800)
  -webkit-text-stroke-color: var(--flush-mahogany-800)
.text-outline-flushMahogany-900, :is(.dark .dark\:text-outline-flushMahogany-900)
  -webkit-text-stroke-color: var(--flush-mahogany-900)
.text-outline-flushMahogany-950, :is(.dark .dark\:text-outline-flushMahogany-950)
  -webkit-text-stroke-color: var(--flush-mahogany-950)


/*
  Custom Pink (because it's not tailwind default)
.text-outline-customPink-50, :is(.dark .dark\:text-outline-customPink-50)
  -webkit-text-stroke-color: var(--custom-pink-50)
.text-outline-customPink-100, :is(.dark .dark\:text-outline-customPink-100)
  -webkit-text-stroke-color: var(--custom-pink-100)
.text-outline-customPink-200, :is(.dark .dark\:text-outline-customPink-200)
  -webkit-text-stroke-color: var(--custom-pink-200)
.text-outline-customPink-300, :is(.dark .dark\:text-outline-customPink-300)
  -webkit-text-stroke-color: var(--custom-pink-300)
.text-outline-customPink-400, :is(.dark .dark\:text-outline-customPink-400)
  -webkit-text-stroke-color: var(--custom-pink-400)
.text-outline-customPink-500, :is(.dark .dark\:text-outline-customPink-500)
  -webkit-text-stroke-color: var(--custom-pink-500)
.text-outline-customPink-600, :is(.dark .dark\:text-outline-customPink-600)
  -webkit-text-stroke-color: var(--custom-pink-600)
.text-outline-customPink-700, :is(.dark .dark\:text-outline-customPink-700)
  -webkit-text-stroke-color: var(--custom-pink-700)
.text-outline-customPink-800, :is(.dark .dark\:text-outline-customPink-800)
  -webkit-text-stroke-color: var(--custom-pink-800)
.text-outline-customPink-900, :is(.dark .dark\:text-outline-customPink-900)
  -webkit-text-stroke-color: var(--custom-pink-900)
.text-outline-customPink-950, :is(.dark .dark\:text-outline-customPink-950)
  -webkit-text-stroke-color: var(--custom-pink-950)


/*
  breakpoints

/*
  xs - mobile phones
  devices with less than 320px width is not supported
@media only screen and (min-width: 320px) and (max-width: 639px)

/*
  sm - small screens
@media only screen and (min-width: 640px) and (max-width: 767px)

/*
  md - medium screens like tablets
@media only screen and (min-width: 768px) and (max-width: 1023px)

/*
  lg - large screens
@media only screen and (min-width: 1024px) and (max-width: 1279px)

/*
  xl
@media only screen and (min-width: 1280px) and (max-width: 1535px)

/*
  2xl
@media only screen and (min-width: 1536px)
